.cart{
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center; /* 垂直置中 */
    padding: 5px; /* 增加內邊距 */
    height: 100vh;
    background: #fff;
      width: 100%;
}


/* 首頁購物車表頭 */
.cart table th{
  text-align: center;
}
/* 首頁購物車表格內容 */
.cart table td {
  text-align: center;
  padding-block: 15px;
  line-height: 35px;
  /* font-weight: bold; */
  /* font-size: 1.5rem; */
}


.quantity-control {
  display: flex;
  align-items: center;
  justify-content: center;
}
.quantity-btn {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  min-width: 40px;
  transition: background-color 0.2s;
}
.quantity-btn.add{
    border-radius: 0 5px 5px 0;
}

.quantity-btn.reduce{
    border-radius: 5px 0 0 5px;
}

.quantity-btn:hover {
  background-color: #f8f9fa;
}

.quantity-control input {
  text-align: center;
  border: 1px solid #ccc;
  height: 35px;
}

/* 切換會員按鈕 */
.change-button {
    background: #81C939;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 開錢櫃按鈕 */
.open-button{
    width: 150px;
    height: 70px;
    background: #737272;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
}
/* 結帳按鈕 */
.checkout-button {
  width: 100%;
  max-width: 750px;
  height: 70px;
  background: #E67327;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
}
/* 主卡片內容容器 */
.content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh; /* 設定整個視窗高度 */
  }