* {
  margin: 0;
  padding: 0;
}
button {
  border: none;
}
input[type="number"] {
  width: 50px;
  text-align: center;
}
/* 隱藏數字輸入框右邊小箭頭 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.grayButton {
  background: #a5a5a5;
  color: #fff;
  width: 220px;
  height: 50px;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 50px;
}
.pinkButton {
  background: #d78282;
  color: #fff;
  width: 220px;
  height: 50px;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 50px;
}
.content-container {
  background: #f0f0f0;
  height: 100vh;
}
