* {
  margin: 0;
  padding: 0;
}
button {
  border: none;
}
tr{
  white-space: nowrap;
}
td{
  vertical-align: middle;
  padding-block: 10px !important;
  font-size: 1.3rem;
}
label{
  font-size: 1.4rem;
}
input{
  font-size: 1.4rem !important;
}
input[type="checkbox" i] {
  font-size: 1.4rem !important;
}
textarea{
  font-size: 1.2rem !important;
}
.form-select {
  font-size: 1.3rem !important;
}
/* 修改bs5預設樣式 */
.row>* {
  padding: 0;
}
/* 隱藏數字輸入框右邊小箭頭 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.cartTr{
  border-style: none;  /* 先清除所有邊框 */
  border-top-style: solid; /* 只保留上邊框 */
}
/* CSS file 或 style 標籤內加這段 */
.no-scrollbar {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  touch-action: pan-y;
  user-select: none;
  border-bottom: 1px solid #E2E2E2;
}

.drag-scroll-wrapper {
  cursor: grab;
  user-select: none;
}
.drag-scroll-active {
  cursor: grabbing;
}

.grayButton {
  background: #a5a5a5;
  color: #fff;
  min-width: 300px;
  height: 60px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 50px;
}
.pinkButton {
  background: #d78282;
  color: #fff;
  min-width: 300px;
  height: 60px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 50px;
}
.content-container {
  background: #f0f0f0;
  height: 100vh;
}

/* 藍色查看按鈕 */
.check-button{
  background: #337DD1;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  min-width: 80px;
}
/* 經銷會員按鈕 */
.sales-button{
  background: #2AC7A5;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  min-width: 80px;
}
/* 黃色修改按鈕 */
.edit-button{
  background: #D68E08;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  min-width: 80px;
}
/* 刪除按鈕 */
.delete-button{
  background: #CE0000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  min-width: 80px;
}
/* 粉色按鈕 */
.pink-button{
  background: #ED7171;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.4rem;
  min-width: 80px;
}
/* 清空按鈕 */
.clear-button{
  background: #9b9b9b;
  color: #fff;
  padding: 2px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.3rem;
  min-width: 60px;
}
/* 新增按鈕 */
.add-button{
  background: #54C24E;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.4rem;
  min-width: 130px;
}
/* 進貨、調貨等..按鈕 */
.cargo-button{
  background: #007B54;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.5rem;
  min-width: 130px;
}
.table-info {
  --bs-table-bg: #678CBF !important;
  --bs-table-color: #fff !important;
}

.no-safe-text{
  background-color: #CE0000;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  width: 90%;
  text-align: center;
}

/* 彈出框的寬度 */
.w-auto-modal {
  max-width: 60%;
}
.modalButton{
  font-size: 1.3rem;
}