.section-box {
  background: #f9f9fb;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 24px;
  border: 1px solid #e3e6ec;
}

.section-box h6 {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 15px;
  color: #343a40;
}

.form-label {
  font-weight: 600 !important;
}

.modal-footer {
  justify-content: space-between;
  padding-top: 1rem;
}

.tab-content>.active{
    background: none;
}

.section-box {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  background: #f9f9f9;
}